/*
|--------------------------------------------------------------------------
| Site Wide Styls
|--------------------------------------------------------------------------
|
| 
*/

html {
	min-height:100%;
	position: relative;
}

body {
	background: $gray-dark;
	background-image: url('#{$imagePath}/city-scape.png');
	background-image: url('#{$imagePath}/city-scape.png'), linear-gradient(to bottom, $gray-dark 0%, $gray-darker 60%);
	height:100%;
	background-repeat:repeat-x;
	background-position:center bottom;


	&.lightning {
		background-color:$black;
		animation: lightning 0.2s linear 7;
	}
}


/*
| Animations
|--------------------------------------------------------------------------
| 
|
*/


@keyframes lightning {
	from {
		background:$white; 
		background-image: url('#{$imagePath}/city-scape.png');
		background-repeat:repeat-x;
		background-position:center bottom;
	}
	to {
		background: $gray-dark;
		background-image: url('#{$imagePath}/city-scape.png'), linear-gradient(to bottom, $gray-dark 0%, $gray-darker 60%);
		background-repeat:repeat-x;
		background-position:center bottom;
	}
	
}


